{% if size is not defined %}
    {% set size = 4 %}
{% endif %}

<li class="span{{ size }}">
    <div class="thumbnail">
        <div class="caption">
            <h3>{% block title %}{% endblock %}</h3>
            {% block content %}{% endblock %}
            <p>{% block buttons %}{% endblock %}</p>
        </div>
    </div>
</li>